<div *ngIf="users.length > 0">
    <h1>Users retrieved: </h1>
    <div *ngFor="let user of users">
        <div>
            <strong>{{user.firstName}}</strong>
                   <p>{{user.firstName}}</p>
        </div>

        <br />
        <br />
    </div>
</div>