<ActionBar [title]="title"></ActionBar>

<GridLayout>
    <ListView [items]="users">
        <ng-template let-user="item">
            <StackLayout>
                <Label [text]="user.firstName" class="h1 text-center" textWrap="true"></Label>
                <TextField [text]="user.lastName"></TextField>
            </StackLayout>
        </ng-template>
    </ListView>
</GridLayout>